body {
  margin: 0;
  padding: 0;
  /*background: #151515 url("../images/bkg.png") 0 0;*/
  /*color: #eaeaea;*/
  color: #666;
  font: 16px;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

/* General & 'Reset' Stuff */

.container {
  width: 90%;
  max-width: 980px;
  margin: 0 auto;
}

section {
  display: block;
  margin: 0 0 20px 0;
}

/* Fix header area and push content accordingly */
.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.main {
    z-index: 1000;
    padding: 180px 0 0 0;
    width: 80%;
    margin: 0 auto;
}

#main-content {
    width: 75%;
    float: left;
}

#sidebar {
    position: fixed;
    right: 0;
    width: 25%;
    /*width: 25%;
    float: left;*/
    padding-left: 20px;
}

/* Position within page links when fixed header in place */
a.pad.anchor {
  padding-top: 190px;
  margin-top: -190px;
  display: inline-block; /* required for webkit browsers */
   vertical-align: top;
}

/* End push */

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
  /*color: #fff;*/
    color: #000;
}

li {
  line-height: 1.4 ;
}

/* Header, <header>
   header   - container
   h1       - project name
   h2       - project description
*/

header {
  background: rgba(0, 0, 0, 0.85);
  width: 100%;
  border-bottom: 1px dashed #666;
  padding: 20px 0;
  margin: 0 0 40px 0;
    z-index: 2000;
    text-align: center;
}

footer {
    clear: both;
}

header h1 {
  font-size: 42px;
  line-height: 1.5;
  margin: 0 0 0 0;
  font-weight: bold;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #fff; /*#b5e853;*/
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
}

header h1:before {
  /*content: "./ ";*/
  font-size: 36px;
}

header h2 {
  font-size: 24px;
  font-weight: 300;
  color: #000;
}

#downloads .btn {
  display: inline-block;
  text-align: center;
  margin: 0;
}

/* Main Content
*/

#main_content {
  width: 100%;
  -webkit-font-smoothing: antialiased;
}
section img {
  max-width: 100%
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #000;/*#b5e853;*/
  letter-spacing: -0.03em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
}

#main-content h1 {
  font-size: 42px;
}

#main-content h2 {
  font-size: 36px;
}

#main-content h3 {
  font-size: 32px;
  border-bottom: 1px dashed #666;
  border-top: 1px dashed #666;
  line-height: 60px;
  margin-top: 40px;
}

#main-content h4 {
  font-size: 14px;
}

#main-content h5 {
  font-size: 14px;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

#main-content h6 {
  font-size: 14px;
  text-transform: uppercase;
  color: #999;
  margin: 0 0 5px 0;
}

dt {
  font-style: italic;
  font-weight: bold;
}

ul li {
  list-style: none;
}

ul li:before {
  content: ">>";
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 13px;
  /*color: #b5e853;*/
    color: #000;
  margin-left: -37px;
  margin-right: 21px;
  line-height: 16px;
}

blockquote {
  color: #aaa;
  padding-left: 10px;
  border-left: 1px dotted #666;
}

pre {
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 10px;
  font-size: 14px;
  color: #b5e853;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  /*text-wrap: normal;*/
  /*overflow: auto;*/
  /*overflow-y: hidden;*/
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

code.inline {
	background: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 10px;
  font-size: 14px;
  color: #b5e853;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  text-wrap: normal;
}

table {
  width: 100%;
  margin: 0 0 20px 0;
    table-layout: fixed;
}

th {
  text-align: left;
  border-bottom: 1px dashed #b5e853;
  padding: 5px 10px;
}

td {
  padding: 5px 20px 0 0;
    width: 33%;
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px dashed #666;
  color: #666;
  /*border-bottom: 1px dashed #b5e853;
  color: #b5e853;*/
}

/* Buttons
*/

.btn {
  display: inline-block;
  background: -webkit-linear-gradient(top, rgba(100, 100, 100, 0.3), rgba(80, 80, 80, 0.3) 50%, rgba(40, 40, 40, 0.3) 50%, rgba(0, 0, 0, 0.3));
  padding: 8px 18px;
  /*border-radius: 50px;*/
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(220, 220, 220, 0.7);
  border-top: 1px solid rgba(220, 220, 220, 0.9);
  color: rgba(255, 255, 255, 0.8);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
}

.btn:hover {
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.6), rgba(35, 35, 35, 0.6) 50%, rgba(10, 10, 10, 0.8) 50%, rgba(0, 0, 0, 0.8));
}

.btn .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 1px 8px 0 0;
  float: left;
}

.btn-github .icon {
  opacity: 0.6;
  background: url("../images/blacktocat.png") 0 0 no-repeat;
}

.btn-contents .icon {
  opacity: 0.6;
  background: url("../images/contents.png") 0 5px no-repeat;
}

/* Links
   a, a:hover, a:visited
*/

a {
  color: /*#63c0f5;*/#2297d9;
  text-shadow: 0 0 1px rgba(104, 182, 255, 0.5);
}

a:hover {
  text-decoration: none;
}

/* Clearfix */

.cf:before, .cf:after {
  content:"";
  display:table;
}

.cf:after {
  clear:both;
}

.cf {
  zoom:1;
}